# BASES DE DATOS

In [1]:
import sqlite3

In [2]:
conexion = sqlite3.connect('ejemplo.db')

In [3]:
conexion.close()

## CREAR TABLA

In [4]:
conexion = sqlite3.connect('ejemplo.db')

In [5]:
cursor = conexion.cursor()

In [6]:
cursor.execute('create table alumnos (nombre varchar(50), edad integer, email varchar(100))')

In [7]:
conexion.commit()

In [8]:
conexion.close()

## INSERTAR UNO Y VARIOS

In [14]:
conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()
cursor.execute('insert into alumnos values ("Angel",20,"odiocomunista@gmail.com")')
conexion.commit()
conexion.close()

In [17]:
conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()
alum = [('Isaac',10,'isa@gmail.com'),('Juan',30,'Juan@gmail.com'),('Angela',19,'angela@gmail.com')]
cursor.executemany("insert into alumnos values (?,?,?)",alum)
conexion.commit()
conexion.close()

## LECTURA

In [20]:
conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()
cursor.execute('select * from alumnos')
lalumnos = cursor.fetchall()
for alumnos in lalumnos:
    print(alumnos)

('Fer', 22, 'satanteama@gmail.com')
('Angel', 20, 'odiocomunista@gmail.com')
('Isaac', 10, 'isa@gmail.com')
('Juan', 30, 'Juan@gmail.com')
('Angela', 19, 'angela@gmail.com')